<!DOCTYPE html>
<html>
  <head>
    <title>Spotify Page Design</title>
  </head>
  <body>
    <header>
      

      <nav>
        <div class="logo">Spotify</div>
        <div class="menu">
          <a href="#">Premium</a>
          <a href="#">Support</a>
          <a href="#">Download</a>
          <a href="#">| Sign up</a>
          <a href="#">Log in</a>

        </div>
      </nav>
      
      
      <div class="h-text">
        <p>spotify premium</p>
        <h1> Get 3 month of Premium 
          <br>for free</h1>
        <h3>Enjoy ad-free music,offline listening,and more.<br>Cancel anytime</h3>
        <a href="#" id="order">GET 3 MONTH FREE</a>
      </div>
    </header>
   
      <img src="D:\aspotify.jpg"/>
    
    
  </body>
  
</html>